@import "../../../main.scss";

.contact-block {
  .contact {
    background-color: #fff;
    position: absolute;
    top: calc(50vh - 9em);
    bottom: calc(50vh - 14em);
    height: 28em;
    width: 60%;
    margin-left: 20%;
    padding: 1em;
    @media (max-width: 768px) {
      margin: 1em;
      width: auto;
      padding: 0 1em;
      height: 37em;
      top: 10vh;
    }

    .control {
      padding: 1em;
      flex-basis: 1;

      
      h4 {
        text-transform: uppercase;
        font-size: 1.5em;
        height: 2em;
        line-height: 2.5em;
        margin: 0;
        text-align: center;
        @media (max-width: 768px) {
          line-height: 1.5em;
          font-size: 1em;
          height: 2em;
        }
      }
    }
  }
}

.newsletter-block {
  .newsletter {
    background-color: #fff;
    position: absolute;
    top: calc(50vh - 6em);
    bottom: calc(50vh - 6em);
    height: 10em;
    width: 50%;
    margin-left: 25%;

    @media (max-width: 768px) {
      margin: 0 1em;
      width: auto;
      padding: 0 1em;
      height: 12em;
    }
    .email-btn {
      @media (max-width: 768px) {
        margin: 1em;
      }
    }

    h4 {
      text-align: center;
      margin-top: 1em;
    }

    .newsletter-form {
      display: flex;
      text-align: center;
      justify-content: center;
    }
  }

  .title {
    background-color: $color-background-primary;
    color: #fff;
    height: 10em;
    width: 10em;
  }
}

.about {
  background-repeat: no-repeat;
  background-attachment: scroll;

  .content {
    display: flex;
    flex-direction: row;
    margin: 2rem;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .profile {
      height: 8em;
    }

    .description {
      @media (max-width: 768px) {
        font-size: 12px;
        text-align: left;

        h2 {
          text-align: center;
        }
      }
    }
  }
}

.products {
  padding: 1rem;
  .product {
    background-color: $color-background-primary;
    position: relative;
    margin: 5px;

    .card {
      display: flex;
      flex-direction: column;
      .image {
        height: 12em;
        width: 100%;
      }
      .content {
        transition: width 1s;
        h2 {
          text-transform: uppercase;
          letter-spacing: 2px;
        }

        p {
          font-size: 14px;
        }

        .menu {
          display: flex;
          flex-direction: row;
          width: 100%;
          flex-wrap: wrap;

          margin: 1em 0;

          .item {
            display: flex;
            flex-direction: column;
            border: 2px solid $color-background-primary;
            padding: 5px;
            margin: 5px;
            flex-grow: 2;

            background-color: $color-background-primary;

            &:hover {
              background-color: $color-primary;
              color: $color-background-primary;
              border-color: $color-primary;
            }

            .name {
              text-transform: uppercase;
              font-size: 12px;
              font-weight: 600;
              text-align: center;
            }

            .price {
              font-size: 24px;
              margin: 5px;
              text-align: right;
              
            }
          }
        }
      }
    }

   
    .actions {
      position: absolute;
      top: 12em;
      right: 0;
      background-color: $color-background-primary;
      opacity: 0.75;

      justify-content: center;
      button {
        padding: 5px;

        svg {
          height: 20px;
          color: #fff;
        }
      }
    }
  }
}

//location

.location {
  .address {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    .postal, .contacts, .social {
      flex-basis: 0;
    }
   
    .postal {
      text-align: center;

      span {
        text-transform:  uppercase;
        letter-spacing: 2px;
        font-size: 24px;
        font-weight: bold;
        
      }
    }

    .social {
      margin: 0.5em 0;
    }

    .contacts {
      margin: 0;
      display: flex;
      flex-direction: row;
      height: 2em;
      line-height: 2em;
      

      .icons {
        width: 1.5em;
        height: 1.5em;
      }

      a {
        color: $color-secondary;
        text-decoration: none;
        font-size: 16px;
      }
    }
  }
}
