// Header colors 
@import "../../../main.scss";



html, body {
  scroll-behavior: smooth;
}


.mobile-nav {
  width: auto !important;
  background-color: $color-background-primary;
  padding:  auto 1em;

  .MuiListItem-root {
    
    text-align: center;
    text-transform: uppercase;

    &:hover, &:active {
      background-color: $color-ternary;
      color: #fff;
    }
    
  }
}

.title {
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 600;
}

.nav {
  height: 5.5em;
  line-height: 5.5em;
  text-align: center;
  
  font-size: 14px;

  .link {
    top: -1em;
  }

  .link, .title {

    &:hover, &:active {
        text-decoration: none;
    }

  }

  .title {
    
    img {
      height: 3.7em;
      margin-top: 0.3em
    }
  }

  .link {
    text-transform: uppercase;
    font-weight: bold;
    width: auto;   
    transition: 1s; 
    color: $color-secondary;

    padding: 0.5em;

   

    &:hover {

        border-bottom: 2px solid $color-ternary;
     
    }
  }
}
