.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 33vw;
  width: 33vw;
  top: 33vh;
  height: 33vh;
  .carousel-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  background: transparent;

    h1,
    .sub-title {
      color: #fff;
      margin-bottom: 1rem;
    }

    button {
        margin-top: 1rem;
    }
  }
}
